@tailwind base;
@tailwind components;
@tailwind utilities;

.head{
    background-color:#a40044 ;
}

.headbleu{
background-color: #36b7c1;
}

h1{font-size: xx-large;}
h2{font-size: x-large;}
h3{font-size: large;}
.margin-top{
    margin-top: 10px;
}

.margin-bottom{
    margin-bottom: 5px;
}